#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 60%;
  margin: auto;
}
.product-container {
  display: flex;
  flex-direction: column;
}
.image {
  width: 100%;
}
.fa-solid {
  width: 30%;
}
.head {
  display: flex;
  justify-content: space-between;
}
